<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pashteut.todoapp">

    <application
        android:name="com.pashteut.todoapp.HiltTestApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToDoApp">
    </application>

</manifest>